<section class="header-section">
  <div class="container-fluid">
    <div class="home-jumbtron p-5">
      <div class="caption">
        <h1>Most Trusted Provider of Real Estate Information</h1>
        <p>Welcome to GridPoint-Everything Real Estate</p>
      </div>
      <div class="home-nav">
<!--        <a routerLink="marketplace" routerLinkActive="active" class="btn btn-warning m-3">-->
<!--          Property <br/>Marketplace-->
<!--        </a>-->
<!--        <button type="button" class="btn btn-warning m-3">Property <br/> Valuations</button>-->
<!--        <button type="button" class="btn btn-warning m-3">Property Data & <br/> Analytics</button>-->
<!--        <button type="button" class="btn btn-warning m-3">Investment <br/> Analysis</button>-->
<!--        <button type="button" class="btn btn-warning m-3">Location <br/> Analytics</button>-->

        <a routerLink="marketplace" routerLinkActive="active" class="btn btn-warning">
          Property <br/>Marketplace
        </a>
        <button type="button" class="btn btn-warning">Property <br/> Valuations</button>
        <button type="button" class="btn btn-warning">Property Data & <br/> Analytics</button>
        <button type="button" class="btn btn-warning">Investment <br/> Analysis</button>
        <button type="button" class="btn btn-warning">Location <br/> Analytics</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 mt-5">
        <div class="home-stats">
          <h2>657,000</h2>
          <p>Residential Properties</p>
        </div>
      </div>
      <div class="col-lg-3 mt-5">
        <div class="home-stats">
          <h2>17,027</h2>
          <p>Commercial Properties</p>
        </div>

      </div>
      <div class="col-lg-3 mt-5">
        <div class="home-stats">
          <h2>7,450</h2>
          <p>Industrial Properties</p>
        </div>

      </div>
      <div class="col-lg-3 mt-5">
        <div class="home-stats">
          <h2>14,079</h2>
          <p>Farms</p>
        </div>

      </div>
    </div>
  </div>
</section>
